body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #001a1a, #000);
  color: #fff;
}

.hidden { display: none; }

.centerBox {
  width: 340px;
  margin: 100px auto;
  padding: 25px;
  background: rgba(0,0,0,0.7);
  border: 2px solid #00ffcc;
  border-radius: 15px;
  box-shadow: 0 0 35px #00ffcc;
}

.centerBox h1 {
  text-align: center;
  color: #00ffcc;
}

label {
  margin-top: 15px;
  display: block;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  background: #00ffcc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px #00ffcc;
}

button:hover {
  transform: scale(1.05);
}

#errorMsg {
  text-align: center;
  color: red;
  margin-top: 10px;
}

/* DASHBOARD */
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
}

.menu button {
  width: auto;
  padding: 10px 16px;
}

.contentBox {
  margin: 15px;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  border: 2px solid #00ffcc;
  border-radius: 15px;
  box-shadow: 0 0 25px #00ffcc;
}
