body{
  background:#050505;
  font-family:Arial,sans-serif;
  color:white;
  text-align:center;
}

#loginBox{
  max-width:360px;
  margin:80px auto;
  padding:30px;
  background:#121826;
  border-radius:12px;
  box-shadow:0 0 20px cyan;
}

.title{
  font-size:28px;
  color:#00fff7;
  text-shadow:0 0 15px #00fff7;
  margin-bottom:20px;
}

.input-group{
  text-align:left;
  margin:12px 0;
}

.input-group label{
  display:block;
  margin-bottom:4px;
}

input{
  width:100%;
  padding:10px;
  border-radius:6px;
  border:2px solid #00fff7;
  background:#0b0f14;
  color:white;
}

.neonBtn{
  padding:12px 20px;
  margin-top:12px;
  background:black;
  color:#00fff7;
  border:2px solid #00fff7;
  cursor:pointer;
  border-radius:8px;
  transition:.3s;
}

.neonBtn:hover{
  background:#00fff7;
  color:black;
  box-shadow:0 0 25px #00fff7;
}

.error{color:#ff5c5c;margin-top:10px;}

.hidden{display:none;}

#dashboard{
  margin-top:50px;
}

.logoutBtn{
  background:red;
  border:none;
  padding:8px 16px;
  border-radius:6px;
  color:white;
  cursor:pointer;
}
