body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.card{
  width:90%;
  max-width:360px;
  background:#0b0b0b;
  padding:20px;
  border-radius:18px;
  box-shadow:0 0 25px rgba(0,0,0,.8);
  display:none;
  text-align:center;
}

.card.active{ display:block; }

input{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:10px;
  background:#111;
  border:1px solid #333;
  color:#fff;
}

.btn{
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:14px;
  background:transparent;
  font-size:16px;
  transition:.25s;
}

.btn:hover{
  transform:scale(1.12);
}

.green{border:2px solid #00ff7f;color:#00ff7f;box-shadow:0 0 15px #00ff7f;}
.cyan{border:2px solid #00f7ff;color:#00f7ff;box-shadow:0 0 15px #00f7ff;}
.blue{border:2px solid #4dabff;color:#4dabff;box-shadow:0 0 15px #4dabff;}
.purple{border:2px solid #c77dff;color:#c77dff;box-shadow:0 0 15px #c77dff;}
.red{border:2px solid #ff4d4d;color:#ff4d4d;box-shadow:0 0 15px #ff4d4d;}
.gold{border:2px solid #ffd166;color:#ffd166;box-shadow:0 0 15px #ffd166;}

.back{
  border:2px solid #aaa;
  color:#aaa;
}

.spinner{
  width:45px;
  height:45px;
  border:4px solid #222;
  border-top:4px solid #00ff7f;
  border-radius:50%;
  margin:20px auto;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  100%{transform:rotate(360deg);}
}
