*{
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#000;
  color:#fff;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.box{
  width:90%;
  max-width:360px;
  background:#0a0a0a;
  border-radius:16px;
  padding:20px;
  text-align:center;
  border:2px solid #222;
}

.hidden{
  display:none;
}

h1,h2{
  margin-bottom:15px;
}

/* INPUT */
input{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #333;
  background:#111;
  color:white;
}

/* BUTTON */
.btn{
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:12px;
  background:transparent;
  font-size:16px;
  cursor:pointer;
  transition:0.25s;
}

.btn:hover{
  transform:scale(1.08);
}

/* NEON COLORS */
.green{border:2px solid #00ff6a;color:#00ff6a;box-shadow:0 0 12px #00ff6a;}
.cyan{border:2px solid #00f7ff;color:#00f7ff;box-shadow:0 0 12px #00f7ff;}
.pink{border:2px solid #ff2cdf;color:#ff2cdf;box-shadow:0 0 12px #ff2cdf;}
.purple{border:2px solid #9d4edd;color:#9d4edd;box-shadow:0 0 12px #9d4edd;}
.yellow{border:2px solid #ffd60a;color:#ffd60a;box-shadow:0 0 12px #ffd60a;}

.back{
  border:2px solid #aaa;
  color:#aaa;
}

/* LOADING */
.loader{
  width:50px;
  height:50px;
  margin:20px auto;
  border-radius:50%;
  border:4px solid #222;
  border-top:4px solid #00ff6a;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.loading-text{
  color:#00ff6a;
  text-shadow:0 0 10px #00ff6a;
}
