body{
  background:#050505;
  color:white;
  font-family:Arial;
  text-align:center;
}

input{
  display:block;
  margin:10px auto;
  padding:10px;
  width:220px;
  border:2px solid cyan;
  background:black;
  color:white;
}

button{
  background:black;
  border:2px solid #ff00ff;
  color:#ff00ff;
  padding:10px 25px;
  margin:10px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.1);
  background:#ff00ff;
  color:black;
}

.hide{display:none}

#loginBox{
  margin-top:120px;
  border:2px solid cyan;
  width:300px;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
}

#content{
  margin-top:20px;
  padding:15px;
  border:2px solid lime;
}
