body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
}

.box {
  max-width: 380px;
  margin: 80px auto;
  padding: 25px;
  background: #020617;
  border-radius: 12px;
  text-align: center;
}

h1, h2 {
  color: #22c55e;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.btn {
  display: block;
  margin: 10px 0;
  padding: 12px;
  text-decoration: none;
  background: #1e293b;
  color: white;
  border-radius: 8px;
}

.btn:hover {
  background: #22c55e;
  color: black;
}

.vip {
  background: #312e81;
}

.vip:hover {
  background: #a855f7;
  color: black;
}

.logout {
  background: #dc2626;
  margin-top: 20px;
}

.logout:hover {
  background: #b91c1c;
}

.hidden {
  display: none;
}

#error {
  color: red;
  margin-top: 10px;
}
